.language-switcher {
    display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
    }
    
    .language-link {
        cursor: pointer;
        color: var(--secondary-color);
        text-decoration: none;
        transition: color 0.2s;
    }
    
    .language-link:hover {
        color: var(--primary-color);
}

.active-language {
    font-weight: bold;
    color: var(--primary-color);
    /* Highlight the active language */
    cursor: pointer;
}

.separator {
    color: var(--secondary-color);
    font-size: 20px;
    margin: auto;
    font-weight: 200;
}