:where(.css-dev-only-do-not-override-161f05s).ant-carousel .slick-dots li button {
  position: relative;
  display: block;
  border-radius: 100px !important;
  width: 8px !important;
  height: 8px !important;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s;
}
.slick-dots li button:before {
  content: '•';
  display: none !important;
}
.slick-dots li button::after {
  content: '•';
  display: none !important;
}
:where(.css-dev-only-do-not-override-161f05s).ant-carousel .slick-dots li.slick-active button {
  background: #000000 !important;
  opacity: 1;
}
.custom-search .ant-input-affix-wrapper {
  height: 3em !important;
}
:where(.css-dev-only-do-not-override-161f05s).ant-carousel .slick-dots {
  z-index: 9 !important;
}